body{
    background-color: rgb(222, 226, 230);
    margin: 0;
}
.Container{
    display: flex;
    flex-direction: column;
}
.Header{
    background-color: black;
    width: 98%;
    padding: 1%;
    margin-bottom: 2%;
}
.Body{
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 2%;
}
#head{
    font-size: large;
    border: none;
    color: white;
    background: transparent;
}
#cerImg{
    width: 100%;
    margin: 1%;
}
#badgeImg{
    width: 60%;
}