body{
    background-color: rgb(222, 226, 230);
    margin: 0;
}
.Container{
    display: flex;
    flex-direction: column;
}
.Header{
    background-color: black;
    width: 98%;
    padding: 1%;
    margin-bottom: 2%;
}
.Body{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
}
#head{
    font-size: large;
    border: none;
    color: white;
    background: transparent;
}
#head:hover{
    font-size: x-large;
    color: rgb(39, 39, 238);
}
#cerImage{
    overflow: auto;
    white-space: nowrap;
}
#cerImg{
    width: 100%;
    margin: 1%;
    display: inline-block;
}
#badgeImg{
    width: 60%;
}
#certificate, #badge{
    font-size: xx-large;
}
#cer, #badgeName{
    font-size: larger;
    font-weight: bold;
}
