body{
    background-color: rgb(222, 226, 230);
    margin: 0;
}
.Container{
    display: flex;
    flex-direction: column;
}
.Header{
    background-color: #232A35;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.Body{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
}
#head{
    font-size: large;
    border: none;
    color: white;
    background: transparent;
    height: 50px;
    margin-left: 1%;
    transition: font-size 1s;
}
#head:hover{
    font-size: x-large;
    background-color: black;
}
#cerImage{
    overflow: auto;
    white-space: nowrap;
}
#cerImg{
    width: 100%;
    margin: 1%;
    display: inline-block;
}
#badgeImg{
    width: 60%;
}
#certificate, #badge{
    font-size: xx-large;
}
#cer, #badgeName{
    font-size: larger;
    font-weight: bold;
}
